@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- ADD THIS RULE ---
  This will hide the Leaflet attribution text on all maps.
*/
.leaflet-control-attribution {
  display: none !important;
}